<html><p>student works!</p>

<br><div>
        <p>STUDENT  Details RECORD</p>
        <form [formGroup]="formvalue">
       <label style="margin-right: 70px;margin-top: 5px;">name</label> <input formControlName="name" id="name" style="margin-top: 5px;" ><br>
       <label style="margin-right: 10px;margin-top: 5px;">phonenumber</label><input formControlName="phoneNumber" id="phoneNumber" style="margin-top: 5px;"><br>
    </form>
<button style="margin-left: 150px;margin-top: 5px; align-items: center;" (click)="addstudent()">Add</button>
</div>      
</html>

    
<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Standard</th>
            <th scope="col">Marks</th>
            <th scope="col">Email-ID</th>
            <th scope="col">Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let row of EmployeeData">
          <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.standard}}</td>
            <td>{{row.marks}}</td>
            <td>{{row.emailId}}</td>
            <td> 
              
                 <button (click)="OnEdit(row)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="class btn btn-info">Edit</button>
                <button (click)="deleteEmployee(row)" class="class btn btn-danger mx-5"> Delete</button> -->
              
            <!-- </td> 
        </tr>
    </tbody>
</table> --> 


  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">STUDENT DETAILS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formvalue">
            
              <div class="mb-3" style="display: none;">
                <label for="exampleInputId1" class="form-label">ID</label>
                <input type="text" formControlName="id"  class="form-control" id="exampleInputId1">
              </div>
           
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">FIRST NAME</label>
                    <input type="text" formControlName="firstName"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">LAST NAME</label>
                    <input type="text"  formControlName="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">STANDARD</label>
                    <input type="text"  formControlName="standard" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">MARKS</label>
                    <input type="text" formControlName="marks"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">EMAIL-ID</label>
                    <input type="text"  formControlName="emailId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   
                  </div>
                
                
              </form>
        </div>
        <div class="modal-footer">
         
          <button type="button"  id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="postemployeedetails()" class="btn btn-primary">Add</button>
          <button  type="button" (click)="updatemployeedetails()" class="btn btn-primary">Upadate</button>
        </div>
      </div>
    </div>
  </div> -->
  